[Unit]
Description=GNU Radio based spectrum monitor 2.475GHz

[Service]
PrivateTmp=true
Type=simple
Environment=PYTHONUNBUFFERED=true
ExecStart=/home/tub/final_showcase/webui/usrp-ss/gr-specmon/usrp_pwr_fft.py -u "serial=3143028" -c 2475e6 -b 50e6 -a "tcp://localhost:5508"
# ExecStart=/usr/bin/stress -c 2
User=tub
CPUAccounting=true
#CPUQuota=200%
#MemoryMax=200M
Restart=always

[Install]
WantedBy=multi-user.target
